@model IEnumerable<GiftBox.DAL.Sekil>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Şekiller</h2>

<p>
    @Html.ActionLink("Şekil Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tur)
        </td>
        <td>
            <img src="~/İmages/@item.ResimPath" style="height:100px;width:100px;" />
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
